<div class="news-feed-container" data-sly-use.newsFeedModel="com.anf.core.models.NewsFeedModel">
	<div class="news-feed-links" data-sly-list.newsFeed="${newsFeedModel.newsList}">
        <a data-sly-test.url="${newsFeed.url}" href="${url}" class="news-feed-link">
            <div class="news-feed-image-container">
                <img data-sly-test.urlImage="${newsFeed.urlImage}" class="news-feed-image" src="${urlImage}" alt="${newsFeed.title}"/>
            </div>
            <div class="news-feed-content">
                <h2 data-sly-test.title="${newsFeed.title}" class="news-feed-content__title">${title}</h2>
                <h4 data-sly-test.desc="${newsFeed.description}" class="news-feed-content__description">${desc @context="html"}</h4>
                <p data-sly-test.content="${newsFeed.content}" class="news-feed-content__content">${content @context="html"}</p>             
                <span data-sly-test.author="${newsFeed.author}" class="news-feed-conent__author">By ${author}</span>
            </div>
        </a>
	</div>
</div>